::-ms-clear
/* ---------------------------------------------------- */
/*                    style by TAG                      */
/* ---------------------------------------------------- */
/*          Organized by SCOPE / page ORDER             */
/* ---------------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../images/ACNH-island.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(164, 234, 246);
}

header {
    background-color: rgb(164, 234, 246);
    text-align: center;
    border: 3px solid rgb(50,122,147);
    border-radius: 55px;
    border-collapse: collapse;
    margin: 1em 5%;
    padding-bottom: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 3px solid rgb(50,122,147);
    padding: 10px;
    background-color: rgb(241, 173, 136);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

nav a {
    background-color: rgb(136, 201, 161);
    border: 2px;
    border-style: solid;
    border-color: rgb(50,122,147);
    color: black;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    margin: 0.2em 1em;
    border-radius: 20px;
}

nav a:hover {
    background-color: rgb(113,186,140);
}

main {
    background-color: rgba(255, 255, 255, 0);
}

h2 {
    text-align: center;
    margin: 2em;
    grid-column: span 3;

}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
    margin-bottom: 2em;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(132,140,177);
    color: rgb(0, 0, 0, 0);
    height: 5em;
    border: 5px solid rgb(50,122,147);
    margin-top: 100px;
    justify-items: center;
    align-items: center;
}

footer img {
    height: 72px;
}

/* ---------------------------------------------------- */
/*                  style by CLASS                      */
/* ---------------------------------------------------- */
/*               Organized ALPHABETICAL                 */
/* ---------------------------------------------------- */

.flex-box {
    display: flex;
    justify-items: center;
    grid-column: span 2;
    flex-wrap: wrap;
    margin-left: 2%;
}

.flex-box section {
    justify-content: center;
    height: 300px;
    width: 400px;
}

.flex-box section img {
    height: 15em;
    border-radius: 25px;
    border: 5px solid rgb(50,122,147);
}

.flex-box section img:hover {
    transition: 0.6s;
    height: 50%;
    position: absolute;
}

.flex-box section div {
    font-weight: bold;
}

.footer-logo {
    border: 3px solid rgb(50,122,147);
    border-radius: 50%;
}

.footer-logo:hover {
    border-radius: 25%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0% 5%;
}

.grid section {
    background-color: rgb(90,208,184, 0.65);
    border: 3px solid rgb(50,122,147);
    min-height: 500px;
    border-radius: 63px;
}

.grid section heading {
    display: block;
    text-align: center;
    padding: 40px 0%;
    background-color: rgb(1,128,119);
    border-radius: 55px;
    border: 3px solid rgb(50,122,147);
}

.grid section article {
    padding: 0% 2% 40px 2%; 
}

.grid section article img {
    max-height: 200px;
    float: left;
    border: 3px solid rgb(50,122,147);
    border-radius: 25px;
    margin: 5px;
}

.grid section article div {
    padding-top: 1em;
    font-size: 20px;
}

.table-year {
    font-weight: bold;
}

/* ---------------------------------------------------- */
/*                    style by ID                       */
/* ---------------------------------------------------- */
/*               Organized by HTML file                 */
/* ---------------------------------------------------- */

/* ---------- */
/* index.html */
/* ---------- */

#home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#home aside {
    background-color: rgb(113,186,140);
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    border-left: 5px solid rgb(50,122,147);
    border-top: 5px solid rgb(50,122,147);
    border-bottom: 5px solid rgb(50,122,147);
    padding: 1em 20%;
    font-size: 30px;
    margin-bottom: auto;
}

#home aside ul li {
    margin: 1em;
}

/* --------------- */
/* my-journey.html */
/* --------------- */

#journey-table {
    border: 3px solid rgb(50,122,147);
    border-collapse: collapse;
    margin: 20px 5%;
}

#journey-table thead {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(236, 113, 116)
}

#journey-table tbody {
    background-color: rgb(169, 215, 169, .65);
}

#journey-table tbody tr {
    height: 300px;
}

#journey-table tbody tr td {
    padding: 0px 1em;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(50,122,147);
}

#journey-table tbody tr td img {
    border-radius: 25px;
    max-height: 280px;
    max-width: 280px;
    border: 3px solid rgb(50,122,147);

}