
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../images/ACNH-island.jpg");
    background-size: cover;
}

header {
    background-color: rgb(164, 234, 246);
    text-align: center;
    border: 2px solid rgb(50,122,147);

}

nav {
    border-bottom: 2px solid rgb(50,122,147);
    padding: 10px;
    background-color: rgb(241, 173, 136);
}

nav a {
    background-color: rgb(136, 201, 161);
    border: 1px;
    border-style: solid;
    border-color: rgb(50,122,147);
    color: black;
    padding: 3px;
    margin: 0px 15px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(113,186,140);
}

img {
    width: 500px;
    border: 5px solid black;
}

.me-img {
    float: left;
    margin: 50px;
}

#journey-table {
    border: 2px solid black;
}